  :root {
    --bodybgColor: #F5EAE2;
    --bannerbgColor: #E6DDD6;
    --textBoldColor: #150E0B;
    --buttonColor: #AF615C;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--bodybgColor);
    padding: 8px;
  }

  article {
    margin-top: 24px;
    padding: 24px;
    background-color: var(--bannerbgColor);
  }

  article h2 {
    margin: 16px;
    color: var(--buttonColor);
  }

  /* navbar */

  nav {
    padding: 10px;
    margin-right: 150px;
    font-family: 'Lato', sans-serif;
    height: 150px;
  }

  nav img {
    float: left;
  }

nav ul {
    display: flex;
    height: auto;
    justify-content: flex-end;
    padding-right: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav ul > li a {
    display: block;
    color: var(--textBoldColor);
    text-align: center;
    margin: 10px 14px;
    text-decoration: none;
  }

.btn-border { 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--buttonColor);
  border-radius: 11px;
}

.btn-border a {
  color: var(--textBoldColor);
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
}

.btn-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--buttonColor);
  background-color: var(--buttonColor);
  border-radius: 11px;
  margin-right: 10px;
  color: white;
}

.btn-fill a {
  color: white;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
}

nav .btn-border, nav .btn-fill {
  min-width: 100px;
}

/* forms */

  form {
      width: 1200px;
      margin: 10px;
      padding: 24px;
      background-color: var(--bannerbgColor);
  }

  input, textarea, select {
      display: block;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border: 2px solid var(--textBoldColor);
      border-radius: 10px;
  }

  input:focus {
    border: 2px solid var(--buttonColor);
  }

  .col-primary {
      color: var(--buttonColor);
  }

  .btn {
    padding: 16px 32px;
    margin-top: 10px;
  }

  .alert-success{
      color: green;
  }

  .alert-error {
      color: red;
  }

  .form-cls {
    display: flex;
    justify-content: center;
  }
  /* home page */


  .home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .banner {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--textBoldColor);
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-around;
    background-color: var(--bannerbgColor);
    padding: 24px;
  }

  .banner h3 {
    font-family: 'Neonderthaw', cursive;
    font-size: 2rem;
  }

  .banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .banner-btn {
    margin-top: 20px;
  }

  .banner-btn .btn-border, .banner-btn .btn-fill {
    padding: 10px;
  }

  

  .banner-right img {
    width: 30vw;
  }

  .inline {
    display: inline;
  }

  .recent {
    grid-column: 1 / 4;
  }

  /* pet showing section */

  icon a{
    display: inline;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .icon img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .pets-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
  }
  
  .pet-sec, .alert-sec{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 300px;
    border: solid var(--textBoldColor) 1px;
    padding: 5px;
  }

  .petimg{
    height: 75%;
    width: 100%;
  }