  :root {
    --primary-color: #283618;
    --secondary-color: #545E31;
    --color3: #FEFAE0;
    --color4: #F4A261;
    --color5: #BC6C25;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
}

nav ul li {
    float: left;
}

nav ul div.nav-right{
    float: right;
    margin-right: 10px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  nav ul li a:hover {
    background-color: var(--primary-color);
  }

  form {
      width:80%;
      margin: 10px;
      padding: 10px;
      background-color: var(--secondary-color);
  }

  input, textarea, select {
      display: block;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border: 2px solid var(--secondary-color);
      border-radius: 10px;
      background-color: var(--color3);
  }

  input:focus {
    border: 2px solid var(--primary-color);
  }

  .col-primary {
      color: var(--primary-color);
  }

  .btn {
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    color: white;
  }

  .alert-success{
      color: green;
  }

  .alert-error {
      color: red;
  }

  /* home page */


  .home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .banner {
    grid-column: 1 / 4;
  }

  .recent {
    grid-column: 1 / 4;
  }

  /* pet showing section */

  icon a{
    display: inline;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .icon img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .pets-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  
  .pet-sec{
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: solid var(--secondary-color) 2px;
    padding: 5px;
  }

  .petimg{
    height: 75%;
    width: 100%;
  }