<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">Report Lost Pet</a> </li>
            <li> <a href="#">Lost & Found</a> </li>
            <li> <a href="#">Get Alerts</a> </li>
            {% if not user %}
            <div class="nav-right">
                {% if not g.user %}
                    <li > <a href="/signup">Sign Up</a> </li>
                    <li > <a href="/login">Login</a> </li>
                {% else %}
                <li > <a href="/users/{{ g.user.id }}">{{ g.user.first_name }}</a> </li>
                <li > <a href="/logout">Logout</a> </li>
                {% endif %}
            </div>
            {% endif %}

        </ul>
    </nav>

    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}

    {% endblock %}
    
</body>
</html>