<div class="form-cls">

    <form method="POST" id="user_form">

        <h2 class="col-primary">Enter your details.</h2>

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {{ field.label }}
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text) }}
        {% endfor %}
        
        <button class="btn btn-border">Save</button>

    </form>

</div>
